# ========================================================
# TASKFLOW - Archivo de Ejemplo de Variables de Entorno
# Copie este archivo como .env y complete sus valores.
# ========================================================

# Clave secreta de Django
SECRET_KEY=clave_secreta_django_aqui

# Modo de desarrollo (True para desarrollo local, False para produccion segun guia)
DEBUG=True

# Hosts autorizados separados por coma
ALLOWED_HOSTS=localhost,127.0.0.1,testserver

# Motor de base de datos: 'sqlite' o 'mysql'
DB_ENGINE=mysql

# Credenciales de Base de Datos MySQL
NAME=taskflow_db
HOST=127.0.0.1
PORT=3306
USER=root
PASSWORD=tu_contrasenia_mysql
